body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background: url("images/hero.png") no-repeat center/cover;
}

header {
    background-color: #4c694e;
    color: white;
    padding: 20px;
}

nav {
    background-color: #4c694e;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.5s ease, background-color 0.5s ease;
}

/* Hover Effect */
nav a:hover {
    color: #4c694e;              /* Text color change */
    background-color: #bead55;   /* Background color change */
    padding: 8px 12px;
    border-radius: 5px;
}

.section {
    padding: 40px;
}

.menu-item {
    background-color: #cec0c0c0;
    margin: 15px auto;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hover Effect */
.menu-item:hover {
    background-color: #ceab78;   /* Change color on hover */
    transform: scale(1.05);      /* Slight zoom effect */
    cursor: pointer;             /* Pointer cursor */
}

button {
    padding: 10px 20px;
    background-color: #aa5a5a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #c06e6e;
}

footer {
    background-color: #333;
    color: white;
    padding: 15px;
}
